* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
}

nav .hamburger-menu {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

nav .nav-links {
  display: flex;
}

nav .nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  transition: color 0.3s ease;
}

nav .nav-links a:hover {
  color: #ffbf47;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #444;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
}

.section {
  padding: 40px;
  background-color: #f1f1f1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.section1 img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.section1 img:hover {
  transform: scale(1.05);
}

.section1 h2 {
  font-size: 2.5rem;
}

.catGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;
}

.catGrid img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.catGrid img:hover {
  transform: scale(1.05);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  nav .nav-links {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    text-align: center;
    background-color: #333;
  }

  nav .nav-links.open {
    display: flex;
  }

  nav .hamburger-menu {
    display: block;
  }

  .section1 {
    flex-direction: column;
  }
}
